<!DOCTYPE html>
<html>
  <head>
    <title>CRUD de clientes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


  <body>
    <h1> <%= title %> </h1>
    <p>Preencha os dados abaixo para salvar o cliente.</p>

    <form method="post" action=""></form>
      <div>
        <label for=""> Nome:<input type="text" name="nome"> </label>
      </div>

      <div>
        <label for=""> Idade: <input type="number" name="idade"></label>
      </div>

      <div>
        <label for="">UF: 
          <select name="uf" id="">
            <option> Selecione</option>
            <option >
              RJ
            </option>
            <option>
              SP
            </option>
            <option>
              MG
            </option>
            <option>
              ES
            </option>
          </select>
        </label>
      </div>

      <div>
        <a href="/"> Cancelar</a> |
        <input type="submit" value="Salvar">
      </div>


    </form>

  </body>

  
</html>
